.git
.gitignore
.DS_Store

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist
build
.next
.nuxt
.output
tmp

coverage

*.local
.env
.env.*

__pycache__
*.pyc
.venv

.idea
.vscode